name: Publish to Azure

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0.x'

      - name: Restore
        run: dotnet restore ./BlogProject/Presentation/BlogProject.WebUI/BlogProject.WebUI.csproj

      - name: Build
        run: dotnet build ./BlogProject/Presentation/BlogProject.WebUI/BlogProject.WebUI.csproj --configuration Release

      - name: Publish
        run: dotnet publish ./BlogProject/Presentation/BlogProject.WebUI/BlogProject.WebUI.csproj --configuration Release --no-build --output ./BlogProject/publish

      - name: Deploy to Azure
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'yorumsatiri'
          publish-profile: ${{ secrets.AZURE_PUBLISH_PROFILE }}
          package: ./BlogProject/publish
